[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = ">=6.2.5"
rich = ">=10.16.2"
textual = ">=0.1.14"
click = ">=8.0.3"
pygame = ">=2.0.2"

[dev-packages]
flake8 = ">=4.0.1"
pytest-cov = ">=3.0.0"
pytest-benchmark = ">=3.4.1"
pytest-mock = ">=3.7.0"

[requires]
python_version = "3.9"
